@charset "UTF-8";

<style>
/* formatação de fonte */
h1 {
  color:black;
}
h1 {
text-align: center;

}

/* formatação de link de transição e acesso a outra paginda*/
nav#menu {
display: block;
}
nav#menu{
position:absolute;
top: 60px;
left: 650px
}
nav#menu {
text-transform: uppercase;

padding: 5px;
transition: background-color 1s;
}
nav#menu:hover {

background-color:Pink;
}


.col-1{
  margin-bottom: 20px;
  //text-align: right;
}
.col-2{
  margin-bottom: 20px;
  text-align: right;
}
.col-4{
  margin-left: -220px;
}
.col-5{
  margin-bottom: 15px;
}

.p1{
margin-left: 20px;
}

nav#input4{
  margin-top: 10px;
  position: absolute;
  top: 150px;
  left: 700px;
  text-align: left;
  color: black;

}

nav#input0{
margin-top: 10;
position: absolute;
top: 280px;
left: 380px;
text-align: left;
color: black;

}

nav#input1 {
  margin-top: 10px;
  position: absolute;
  top: 150px;
  left: 100px;
  text-align: left;
  color: black;
}

nav#input2 {
  margin-top: 10px;
  position: absolute;
  top: 280px;
  left: 100px;
  text-align: left;
  color: black;

}

nav#input3 {
  margin-top:-25px;
  position: absolute;
  top: 500px;
  left: 100px;
  text-align: left;
  color: black;
}

nav#input5{
  margin-top: -25;
  position: absolute;
  top: 450px;
  left: 700px;
  text-align: justify;
  color: black;
}

nav#submit{
  margin-top: 25px;
  position: absolute;
  top: 550px;
  left: 600px;
}




</style>
